*{
    margin: 0;
    padding: 0;
}
/*ver unidades de medida*/
body {
    height: 1200px; /* Para que la página sea lo suficientemente larga */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 127, 80, 0.267);
}
.alineacion{
    flex-basis: 71%;
    flex-grow: 3;
    display: flex;
    flex-direction: row
}

.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    
}

.parallax {
    height: 710px;
    background-image: url('../assets/header2.png'); /* Segunda imagen */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 127, 80, 0.267);
}

.parallax .content {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: medium;
}

.ef-parallax{
    padding: 1rem;
}
.ef-parallax2{
    margin: 1rem;
}
.parallax a{
    color: white;
    font-size: 1rem;
}
.fsize{
    margin-top: 60px;
}
.titulo{
    margin-right: 1.5rem;
}
.iconos{
    font-size: 21px;
    margin-right: 35px;   
}
button a{
    text-decoration: none;
    color: white;
}
.navbar{
    color: white;
    background-color:#733939;
    margin-right: 2.5rem;
    text-decoration: none;
}
.fontsize{
    font-size: 2rem;
}
.estilo1{
    margin:1rem;
    text-align: center;
    
}
.button {
    --bs-btn-bg:#700710;
    --bs-btn-border-color:#700710;
    --bs-btn-hover-border-color: #700710;
    --bs-btn-hover-bg: #801212;
}
.estilo{
    text-align: center;
    margin-top: 20px;
}

.iconosfooter{
    font-size: 1.5rem;
    margin-left: 2.5rem;
    margin: 0.5rem;
    display: inline;
}
.itemfooter{
    margin-top: 4rem;
}
.hover :hover{
    padding: 0.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(119, 136, 153, 0.466);
}
.claseh1{
    margin:1.5rem;
    text-align: center;
    color: rgb(94, 91, 91)
}
.pfsection{
    padding: 3rem;
    color: rgb(94, 91, 91)
}
.contactosection{
    justify-content: center;
    display: flex;
    
}
.contactosection h2{
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: rgb(94, 91, 91)
}
.contactosectionicono{
    font-size: 2rem;
    padding: 8px 19px 20px 0px;
    color: black;
}
.iconoubi{
    font-size: 3rem;
    color: black;
}
.paddingh2{
    
    display: flex;
    align-items: center;
}
.paddingh2 h2{
    font-size: 1.5rem;
    color: rgb(94, 91, 91)
}
.h2{
    padding: 1rem;
}
.form{
    width: 50%;
    
}
.classform{
    padding: 0px 20px;
}
.buttoncontacto{
    color:white;
    --bs-btn-bg:#700710;
    --bs-btn-border-color:#700710;
    --bs-btn-hover-border-color: #700710;
    --bs-btn-hover-bg: #801212;
}
.alignbutton{
    display: flex;
    justify-content: center;
}
.divform{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textarea{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.buttonform{
    padding-top: 1.6rem;
}
.comocomprar{
    color: rgb(94, 91, 91);
    text-align: center;
    margin-top: 1.4rem;

}
.colorsection{
    color:rgb(94, 91, 91)
}
.numtamaño{
    font-size: 1.3rem;
}
